<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65561323197-680tdijknhkqt118rsk2g2d8ub7f2k3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65561323197-680tdijknhkqt118rsk2g2d8ub7f2k3u</string>
	<key>API_KEY</key>
	<string>AIzaSyB6T44ORqg8tkrb4eKqs-LaEZah8M50JJY</string>
	<key>GCM_SENDER_ID</key>
	<string>65561323197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nayyer-Ali.BloodBankApp</string>
	<key>PROJECT_ID</key>
	<string>bloodbankapp-c39ce</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbankapp-c39ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65561323197:ios:c8bda12d4067ca849579d4</string>
	<key>DATABASE_URL</key>
	<string>https://bloodbankapp-c39ce.firebaseio.com</string>
</dict>
</plist>