<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525731520309-pvtpkd85083rfcrckjc54s3fi7v6ffk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525731520309-pvtpkd85083rfcrckjc54s3fi7v6ffk3</string>
	<key>API_KEY</key>
	<string>AIzaSyAniWnGAOS5f1tDq9ughknmSKzpSXJNctY</string>
	<key>GCM_SENDER_ID</key>
	<string>525731520309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nayyer-Ali.BloodBankApp</string>
	<key>PROJECT_ID</key>
	<string>bloodbank-daff4</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbank-daff4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525731520309:ios:6b697a73fac329a9e2f67c</string>
	<key>DATABASE_URL</key>
	<string>https://bloodbank-daff4.firebaseio.com</string>
</dict>
</plist>